<div class="row">
    <div class="col-sm-2 border-right">
        <div class="row">
            <div class="col-sm-12">
                <h2>My Reports</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item cursor-pointer jobReport reportOption">Jobs</li>
                    <li class="list-group-item cursor-pointer customerReport reportOption">Customers</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item cursor-pointer accountReport reportOption">Accounts</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="reportsBody"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 pull-right">
    </div>
</div>